@import "tailwindcss";
/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#bebas-font {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}


body {
  
}
